<div id="user_form">
  <%= form_for @user do |f| %>
    <div class="user_input">
    <%= f.label :first_name %>
    <br>
    <%= f.text_field :first_name %>
    </div>
    <div class="user_input">
    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
    </div>
    <div class="user_input">
    <%= f.label :address %>
    <br>
    <%= f.text_field :address %>
    </div>
    <div class="user_input">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    </div>
    <div class="user_input">
    <%= f.submit %>
    </div>

  <% end %>
</div>
