<!DOCTYPE html>
<html>
  <head>
    <title>PizzaPizzaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Faster+One|Grand+Hotel|Pridi&display=swap" rel="stylesheet">
  </head>

<header>
  <nav>
    <span class="go_home"> <%= link_to image_tag("pizza_pie.png", height: '40', width: '40'), root_path %> </span>

      <% if @logged_in %>

      <span> Logged in: <%= @current_user.username %> </span>
      <span> <%= link_to "View Profile", @current_user  %> </span>
      <span> <%= link_to "Edit Profile", edit_user_path(@current_user) %> </span>
      <span> <%= button_to "Delete Profile", @user, method: :delete %> </span>
      <span> <%= link_to "Cook Pizza", new_pizza_path %> </span>
      <span> <%= button_to "Logout", "/logout", method: :delete %> </span>

    <% else %>

      <span> <%= link_to "Login", new_login_path %> </span>
      <span> <%= link_to "Register", new_user_path %> </span>

    <% end %>
  </nav>
</header>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
    var toppings = document.querySelectorAll(".topping_name")
    var pie = document.querySelector(".pie")
    toppings.forEach((topping) => {
      topping.addEventListener("click", function () {
        let id = topping.getAttribute("for");
        let topping_name = topping.innerText;
        let topping_box = document.querySelector(`#${id}`);
        if (!topping_box.checked) {
          prev_left = 0;
          prev_top = 0;
          for (let i = 1; i <= 5; i ++) { 
            var seed = Math.round(Math.random() * 100)/100
            var left = seed * 18
            var top = seed * 18
            var rotate = Math.round(seed * 360)
            pie.innerHTML +=`<div class=\"${topping_name.toLowerCase()}\" style=\"top:${top}em;left:${left}em;transform: rotate(${rotate}deg);\"></div>`;
          }
        }
        else {
          let tops_to_rem = document.querySelectorAll(`[class^=${topping_name.toLowerCase()}`);
          tops_to_rem.forEach((top) => {
            top.remove()
          });
        }

      })
    })
  </script>
</html>
