<!DOCTYPE html>
<html>
  <head>
    <title>PizzaPizzaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Faster+One|Grand+Hotel|Pridi&display=swap" rel="stylesheet">

  </head>

<header>
  <nav>
    <span class="go_home"> <%= link_to image_tag("pizza_pie.png", height: '40', width: '40'), root_path %> </span>

      <% if @logged_in %>

      <span> Logged in: <%= @current_user.username %> </span>
      <span> <%= link_to "View Profile", @current_user  %> </span>
      <span> <%= link_to "Edit Profile", edit_user_path(@current_user) %> </span>
      <span> <%= button_to "Delete Profile", @user, method: :delete %> </span>
      <span> <%= link_to "Cook Pizza", new_pizza_path %> </span>
      <span> <%= button_to "Logout", "/logout", method: :delete %> </span>

    <% else %>

      <span> <%= link_to "Login", new_login_path %> </span>
      <span> <%= link_to "Register", new_user_path %> </span>

    <% end %>
  </nav>
</header>

  <body>
    <%= yield %>
  </body>
</html>
