<!DOCTYPE html>
<html>
  <head>
    <title>PizzaPizzaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Faster+One|Grand+Hotel|Pridi&display=swap" rel="stylesheet">

  </head>

<header>
  <nav>
      <% if @logged_in %>
      <span> <p> Logged in As: <%= @current_user.username %> </p> </span>
      <span> <%= link_to "View Profile", @current_user  %> </span>
      <span> <%= link_to "Edit Profile", edit_user_path(@current_user) %> </span>
      <span> <%= link_to "Cook Pizza", new_pizza_path  %> </span>
      <span> <%= button_to "Logout", "/logout", method: :delete %> </span>
      <span> <%= link_to image_tag("pizza-svgrepo-com.svg", border: 0), {action: '/', controller: 'application'} %> </span>

    <% else %>

      <%= link_to "Login", new_login_path %>
      <%= link_to "Register", new_user_path %>

    <% end %>
  </nav>
</header>

  <body>
    <%= yield %>
  </body>
</html>
